{% extends 'emails/base_email.html' %}

{% block subject %}Reset Your Password{% endblock %}

{% block content %}
    <h2 style="color: #111827; margin-top: 0;">Password Reset Request</h2>
    
    <p>Hello,</p>
    
    <p>We received a request to reset the password for the Resume Analyzer account associated with <strong>{{ email }}</strong>.</p>
    
    <p>Click the button below to set a new password:</p>
    
    <div style="text-align: center; margin: 30px 0;">
        <a href="http://127.0.0.1:8000{% url 'verify-password-reset-link' %}?email={{ email }}&access_token={{ access_token }}" class="button" style="color: #ffffff;">
            Reset Password
        </a>
    </div>
    
    <p>Or copy and paste this link into your browser:</p>
    <p style="font-size: 12px; color: #6b7280; word-break: break-all;">
        http://127.0.0.1:8000{% url 'verify-password-reset-link' %}?email={{ email }}&access_token={{ access_token }}
    </p>
    
    <p>This link is valid for 20 minutes. If you didn't ask to reset your password, please ignore this email.</p>
    
    <p style="margin-top: 30px;">
        Best regards,<br>
        <strong>The Resume Analyzer Team</strong>
    </p>
{% endblock %}